/* 漢堡選單 **/

$hamb-menu-size = 33PX // 按鈕尺寸
$line-width = $hamb-menu-size * 0.66 // 線段寬度
$line-height = $hamb-menu-size * 0.1 // 線段高度
$line-spacing = $hamb-menu-size * 0.22 // 線段間距
$line-color = #f44336
