@import './var.styl'
@import './reset.styl'

body
  font-family $body-font-sans-serif

#app
  height 100%

// main page frame
main
  width 100%
  min-height 100%
  display flex
  flex-direction column
  // background-color $multilingual_fill_background
  position relative