:root {
  --white #fff
  --black #000
}

// primary
$primary_normal_color = #42b983
$primary_dark_color = #30996a

// neutral
$neutral_normal_color = #526377
$neutral_light_color = #97A4B0
$neutral_line_in_white_color = #E8EBED

/* 區塊背景 */
// fill
$multilingual_fill_background = #F2F3F7