/* resize fonts */
$body-font-size = 14px

// 裝置系統字
$body-font-sans-serif = system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

$colors = {
  white : #fff
  black : #000
}